.common-button {
  box-sizing: border-box;
  padding: 20px 36px;
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition:
    background-color .15s ease-out,
    opacity .15s ease-out,
    box-shadow .15s ease-out;
}

.common-button:focus {
  outline: none;
}

.common-button_state_active {
  color: #1a1b22;
  background-color: #fff;
}

.common-button_state_active:hover {
  cursor: pointer;
  opacity: .9;
  box-shadow: 0px 5px 15px rgba(14, 16, 57, 0.2);
}

.common-button_state_active:focus {
  opacity: .6;
}

.common-button_state_inactive {
  color: #b6bcbf;
  background-color: #e6e8eb;
}


@media screen and (max-width: 768px) {
  .common-button {
    padding: 16px 32px;
  }
}
